@charset "UTF-8";
/* ===========================================
 * base: ベース
 * ======================================== */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #000;
  font-family: "Noto Sans JP", serif;
  line-height: 1.75;
  font-size: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  transition: all 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 0.6;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* ===========================================
 * コンポーネント
 * ======================================== */
.title {
  font-size: 5.1282051282vw;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 2.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.75rem;
  }
}
.title--sub {
  font-size: 4.1025641026vw;
  font-family: "Montserrat", serif;
  font-weight: 600;
  color: #168352;
  display: block;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .title--sub {
    font-size: 1.6666666667vw;
    margin-bottom: 0.0833333333vw;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  .title--sub {
    font-size: 1.25rem;
    margin-bottom: 0.0625rem;
  }
}

.text__break {
  display: inline-block;
}
.text__break--sp-inline {
  display: inline;
}

.img-button {
  display: block;
  background: #168352;
  color: #fff;
  font-size: 4.6153846154vw;
  font-weight: bold;
  display: flex;
  align-items: anchor-center;
}
@media screen and (min-width: 768px) {
  .img-button {
    border-radius: 2vw;
    font-size: 2vw;
    padding: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  .img-button {
    border-radius: 1.5rem;
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .img-button--3 {
    padding: 1.5833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .img-button--3 {
    padding: 1.1875rem;
  }
}
@media screen and (min-width: 768px) {
  .img-button__thumb {
    width: 11.0833333333vw;
    margin-right: 2.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .img-button__thumb {
    width: 8.3125rem;
    margin-right: 1.875rem;
  }
}
@media screen and (min-width: 768px) {
  .img-button__thumb--3 {
    margin-right: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .img-button__thumb--3 {
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .img-button__title--3 {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .img-button__title--3 {
    font-size: 1.25rem;
  }
}

.page-header {
  margin-top: 16.1538461538vw;
}
.page-header__container {
  width: 91.7948717949vw;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    max-width: 102.6666666667vw;
    padding: 0 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    max-width: 77rem;
    padding: 0 1rem;
  }
}
.page-header__body {
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header__body {
    border-radius: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__body {
    border-radius: 1.5rem;
  }
}
.page-header__image {
  border-radius: 6.1538461538vw;
  overflow: hidden;
  display: block;
}
@media screen and (min-width: 768px) {
  .page-header__image {
    border-radius: 0;
  }
}
.page-header__box {
  background: #fff;
  font-size: 7.6923076923vw;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .page-header__box {
    position: absolute;
    bottom: 0;
    padding: 3.3333333333vw;
    border-radius: 0 3.3333333333vw 0 0;
    font-size: 3vw;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__box {
    padding: 2.5rem;
    border-radius: 0 2.5rem 0 0;
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumb__container {
    width: 102.6666666667vw;
    padding: 0 1.3333333333vw;
    margin: 6.9166666667vw auto 6.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .breadcrumb__container {
    width: 77rem;
    padding: 0 1rem;
    margin: 5.1875rem auto 5rem;
  }
}
.breadcrumb__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .breadcrumb__separator {
    width: 0.4166666667vw;
    height: 0.8333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .breadcrumb__separator {
    width: 0.3125rem;
    height: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .breadcrumb__link, .breadcrumb__text {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .breadcrumb__link, .breadcrumb__text {
    font-size: 0.75rem;
  }
}

/* ===========================================
 * ヘッダー
 * ======================================== */
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 16.1538461538vw;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 9.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 7.125rem;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 100vw;
    margin-inline: auto;
    padding: 0 0 0 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 75rem;
    padding: 0 0 0 1rem;
  }
}
.header__logo {
  flex-shrink: 0;
  margin-left: 4.1025641026vw;
  width: 50.5128205128vw;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 21.9166666667vw;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 16.4375rem;
  }
}

/* ===========================================
 * ハンバーガー
 * ======================================== */
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.358974359vw;
  height: 100%;
  border: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger__line {
  position: relative;
  width: 6.1538461538vw;
  height: 0.5128205128vw;
  background: #000;
  /*閉じる*/
}
.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 6.1538461538vw;
  height: 0.5128205128vw;
  background: #000;
  transition: transform 0.3s;
}
.hamburger__line::before {
  top: -2.0512820513vw;
}
.hamburger__line::after {
  bottom: -2.0512820513vw;
}
.hamburger__line--expanded {
  background: transparent;
}
.hamburger__line--expanded::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger__line--expanded::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* ===========================================
 * グローバルナビゲーション
 * ======================================== */
.gnav {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16.1538461538vw;
  width: 91.7948717949vw;
  background: #168352;
  overflow-y: auto;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .gnav {
    align-items: center;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    color: #000;
    background: none;
    transform: translateX(0%);
  }
}
.gnav__list {
  line-height: 1;
  padding: 5.641025641vw 5.1282051282vw 4.358974359vw;
}
@media screen and (min-width: 768px) {
  .gnav__list {
    display: flex;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .gnav__item {
    margin-left: 0.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .gnav__item {
    margin-left: 0.5625rem;
  }
}
.gnav__link {
  display: block;
  font-size: 4.6153846154vw;
  font-weight: bold;
  padding: 4.1025641026vw;
  margin-bottom: 1.7948717949vw;
}
@media screen and (min-width: 768px) {
  .gnav__link {
    display: block;
    padding: 1.6666666667vw 1.25vw;
    margin-bottom: 0;
    font-size: 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .gnav__link {
    padding: 1.25rem 0.9375rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .gnav__link--sp-block {
    display: none;
  }
}
.gnav__link--current {
  color: #168352;
}

/* ===========================================
 * フッター
 * ======================================== */
.footer {
  background: #168352;
  color: #fff;
}
.footer__container {
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 100vw;
    padding: 3.3333333333vw 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    width: 75rem;
    padding: 2.5rem 1rem;
  }
}

.footer-menu {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-menu {
    font-size: 1.1666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer-menu {
    font-size: 0.875rem;
  }
}
.footer-menu__item--line {
  border-right: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .footer-menu__item {
    padding: 0.4166666667vw 0.8333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer-menu__item {
    padding: 0.3125rem 0.625rem;
  }
}

/* ===========================================
 * メインビジュアル
 * ======================================== */
.mainvisual {
  margin-top: 18.4615384615vw;
}
@media screen and (min-width: 768px) {
  .mainvisual {
    margin-top: 12.5833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual {
    margin-top: 9.4375rem;
  }
}
.mainvisual__container {
  width: 91.7948717949vw;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .mainvisual__container {
    max-width: 100vw;
    padding: 0 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__container {
    max-width: 75rem;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .mainvisual__box {
    display: flex;
    justify-content: space-between;
    margin: 0 2.75vw 0 2.8333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__box {
    margin: 0 2.0625rem 0 2.125rem;
  }
}
.mainvisual__title {
  font-size: 7.1794871795vw;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .mainvisual__title {
    font-size: 3.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__title {
    font-size: 2.5rem;
  }
}
.mainvisual__text-area {
  font-size: 3.8461538462vw;
  margin-top: 3.8461538462vw;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .mainvisual__text-area {
    font-size: 1.25vw;
    width: 44.1666666667vw;
    margin-top: 0.9166666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__text-area {
    font-size: 0.9375rem;
    width: 33.125rem;
    margin-top: 0.6875rem;
  }
}
.mainvisual__image {
  display: block;
  margin-top: 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__image {
    margin-top: 4.8333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__image {
    margin-top: 3.625rem;
  }
}

/* ===========================================
 * レイアウト
 * ======================================== */
/** 私たちについて **/
.about {
  color: #111;
}
.about__container {
  padding-top: 13.5897435897vw;
}
@media screen and (min-width: 768px) {
  .about__container {
    width: 82.25vw;
    padding: 4.8333333333vw 1.3333333333vw 5.3333333333vw;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    width: 61.6875rem;
    padding: 3.625rem 1rem 4rem;
  }
}
.about__box {
  margin-top: 4.358974359vw;
  padding: 8.2051282051vw 0;
  background: url(/assets/image/about_us_sp.jpg) center center/cover no-repeat;
}
@media screen and (min-width: 768px) {
  .about__box {
    display: flex;
    background: none;
    padding: 0;
    margin-top: 1.8333333333vw;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .about__box {
    margin-top: 1.375rem;
  }
}
.about__body {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8.2051282051vw;
  width: 91.7948717949vw;
  margin-inline: auto;
  padding: 3.5897435897vw 6.4102564103vw 4.8717948718vw;
}
@media screen and (min-width: 768px) {
  .about__body {
    background: none;
    border-radius: 0;
    width: 33.75vw;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__body {
    width: 25.3125rem;
  }
}
.about__lead {
  font-weight: bold;
  font-size: 4.6153846154vw;
  margin-bottom: 1.7948717949vw;
}
@media screen and (min-width: 768px) {
  .about__lead {
    font-size: 1.6666666667vw;
    margin-top: 8.3333333333vw;
    margin-bottom: 2.0833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .about__lead {
    font-size: 1.25rem;
    margin-top: 6.25rem;
    margin-bottom: 1.5625rem;
  }
}
.about__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__image {
    display: block;
    width: 32.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .about__image {
    width: 24.375rem;
  }
}
.about__text {
  font-size: 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 0.9375rem;
  }
}

/** 3つの理由 **/
.features {
  background: #f3f9f6;
}
.features__container {
  padding: 13.3333333333vw 0 13.0769230769vw;
  width: 91.7948717949vw;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .features__container {
    width: 100vw;
    padding: 4.8333333333vw 1.3333333333vw 5.25vw;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    width: 75rem;
    padding: 3.625rem 1rem 3.9375rem;
  }
}
.features__card-lists {
  margin-top: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .features__card-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
    margin-top: 1.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .features__card-lists {
    gap: 1.875rem;
    margin-top: 1.3125rem;
  }
}
.features__card {
  overflow: hidden;
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .features__card {
    width: 30.75vw;
    border-radius: 2vw;
    box-shadow: 0 0.1666666667vw 0.8333333333vw rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__card {
    width: 23.0625rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.05);
  }
}
.features__card-body {
  background: #fff;
  padding: 3.0769230769vw 4.1025641026vw 3.3333333333vw;
}
@media screen and (min-width: 768px) {
  .features__card-body {
    padding: 1vw 1.75vw 1.25vw;
  }
}
@media screen and (min-width: 1200px) {
  .features__card-body {
    padding: 0.75rem 1.3125rem 0.9375rem;
  }
}
.features__card-text {
  font-size: 4.6153846154vw;
  color: #111;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .features__card-text {
    font-size: 1.5833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .features__card-text {
    font-size: 1.1875rem;
  }
}

/** 製品・サービス紹介 **/
@media screen and (min-width: 768px) {
  .products__container {
    width: 94.3333333333vw;
    padding: 5.1666666667vw 1.3333333333vw 5.25vw;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    width: 70.75rem;
    padding: 3.875rem 1rem 3.9375rem;
  }
}
.products__button-lists {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .products__button-lists {
    gap: 4.1666666667vw;
    margin-top: 1.9166666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .products__button-lists {
    gap: 3.125rem;
    margin-top: 1.4375rem;
  }
}
@media screen and (min-width: 768px) {
  .products__button-lists--3 {
    margin-top: 3.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .products__button-lists--3 {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .products__button {
    width: 43.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .products__button {
    width: 32.8125rem;
  }
}
@media screen and (min-width: 768px) {
  .products__button--3 {
    width: 27.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .products__button--3 {
    width: 20.8125rem;
  }
}