@charset "utf-8";
@use "./settings/" as *;
@use "sass:math";

/* ===========================================
 * コンポーネント
 * ======================================== */
.title {
    font-size: vw(20);
    //         font-family: "EB Garamond", serif;
    font-weight: bold;
    //         margin-bottom: vw(16);
    //         line-height: 1.2;
    text-align: center;

    @include mq {
        font-size: vwt(28);
        //             margin-bottom: vwt(20);
        //             @include lineheight(38, 54);
        //             text-align: left;
    }

    @include mq(lg) {
        font-size: px2Rem(28);
        //             margin-bottom: px2Rem(20);
    }

    &--sub {
        font-size: vw(16);
        font-family: "Montserrat", serif;
        font-weight: 600;
        color: $color-main;
        display: block;
        line-height: 1.14;

        @include mq {
            font-size: vwt(20);
            margin-bottom: vwt(1);
            line-height: 1.4;

        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin-bottom: px2Rem(1);

        }
    }
}

.text {
    &__break {
        display: inline-block;

        &--sp-inline {
            display: inline;
        }
    }
}

.img-button {
    display: block;
    background: $color-main;
    color: $color-contrast;
    font-size: vw(18);
    font-weight: bold;
    display: flex;
    align-items: anchor-center;

    @include mq {
        border-radius: vwt(24);
        font-size: vwt(24);
        padding: vwt(24);

    }

    @include mq(lg) {
        border-radius: px2Rem(24);
        font-size: px2Rem(24);
        padding: px2Rem(24);



    }

    &--3 {
        @include mq {
            // border-radius: vwt(24);
            // font-size: vwt(24);
            padding: vwt(19);

        }

        @include mq(lg) {
            // border-radius: px2Rem(24);
            // font-size: px2Rem(24);
            padding: px2Rem(19);



        }
    }

    &__thumb {
        @include mq {
            width: vwt(133);
            margin-right: vwt(30);

        }

        @include mq(lg) {
            width: px2Rem(133);
            margin-right: px2Rem(30);
        }

        &--3 {
            @include mq {
                margin-right: vwt(12);


            }

            @include mq(lg) {
                margin-right: px2Rem(12);




            }
        }
    }

    &__title {
        &--3 {
            @include mq {
                font-size: vwt(20);


            }

            @include mq(lg) {
                font-size: px2Rem(20);




            }
        }
    }
}







.page-header {
    margin-top: vw(63);

    &__container {
        width: vw(358);
        margin-inline: auto;

        @include mq {
            max-width: vwt(1232);
            padding: 0 vwt($pc-content-padding);
            // margin: vwt(83) auto vwt(80);
        }

        @include mq(lg) {
            max-width: px2Rem(1232);
            padding: 0 px2Rem($pc-content-padding);
            // margin: px2Rem(83) auto px2Rem(80);
        }
    }

    &__body {
        // border-radius: vw(24);
        overflow: hidden;
        position: relative;

        @include mq {
            border-radius: vwt(24);
        }

        @include mq(lg) {
            border-radius: px2Rem(24);

        }
    }

    &__image {
        border-radius: vw(24);
        overflow: hidden;
        display: block;

        @include mq {
            border-radius: 0;
        }
    }

    &__box {
        background: $color-contrast;
        font-size: vw(30);
        font-weight: bold;

        @include mq {
            position: absolute;
            bottom: 0;

            padding: vwt(40);
            border-radius: 0 vwt(40) 0 0;
            font-size: vwt(36);
        }

        @include mq(lg) {
            padding: px2Rem(40);
            border-radius: 0 px2Rem(40) 0 0;
            font-size: px2Rem(36);


        }
    }
}

.breadcrumb {
    &__container {

        @include mq {
            width: vwt(1232);
            padding: 0 vwt($pc-content-padding);
            margin: vwt(83) auto vwt(80);
        }

        @include mq(lg) {
            width: px2Rem(1232);
            padding: 0 px2Rem($pc-content-padding);
            margin: px2Rem(83) auto px2Rem(80);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }


    &__separator {

        @include mq {
            width: vwt(5);
            height: vwt(10);
        }

        @include mq(lg) {
            width: px2Rem(5);
            height: px2Rem(10);

        }
    }

    &__link,
    &__text {
        // line-height: 1;

        @include mq {
            font-size: vwt(12);
        }

        @include mq(lg) {
            font-size: px2Rem(12);

        }
    }
}

/* ===========================================
 * ヘッダー
 * ======================================== */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: vw(63);
    background: $color-contrast;

    @include mq {
        height: vwt(114);
    }

    @include mq(lg) {
        height: px2Rem(114);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mq {
            max-width: vwt($pc-content-width);
            margin-inline: auto;
            padding: 0 0 0 vwt($pc-content-padding);
        }

        @include mq(lg) {
            max-width: px2Rem(1200);
            padding: 0 0 0 px2Rem($pc-content-padding);
        }
    }

    &__logo {
        flex-shrink: 0;
        margin-left: vw(16);
        width: vw(197);

        @include mq {
            width: vwt(263);
            margin-left: 0;
        }

        @include mq(lg) {
            width: px2Rem(263);
        }
    }
}

/* ===========================================
 * ハンバーガー
 * ======================================== */
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(56);
    height: 100%;
    border: 0;
    cursor: pointer;

    @include mq {
        display: none;
    }

    &__line {
        position: relative;
        width: vw(24);
        height: vw(2);
        background: $color-normal;

        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: vw(24);
            height: vw(2);
            background: $color-normal;
            transition: transform 0.3s;
        }

        &::before {
            top: vw(-8);
        }

        &::after {
            bottom: vw(-8);
        }

        /*閉じる*/
        &--expanded {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }


    }

}

/* ===========================================
 * グローバルナビゲーション
 * ======================================== */
.gnav {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: vw(63);
    width: vw(358);
    background: $color-main;
    overflow-y: auto;
    color: $color-contrast;
    font-weight: bold;
    text-align: center;
    border-radius: vw(24);

    @include mq {
        align-items: center;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        color: $color-normal;
        background: none;
        transform: translateX(0%);
    }


    &__list {
        line-height: 1;
        padding: vw(22) vw(20) vw(17);

        @include mq {
            display: flex;
            padding: 0;
        }
    }

    &__item {
        @include mq {
            margin-left: vwt(9);
        }

        @include mq(lg) {
            margin-left: px2Rem(9);
        }
    }

    &__link {
        display: block;
        font-size: vw(18);
        font-weight: bold;
        padding: vw(16);
        margin-bottom: vw(7);

        @include mq {
            display: block;
            padding: vwt(20) vwt(15);
            margin-bottom: 0;
            font-size: vwt(16);
            // @include lineheight(20, 36);
        }

        @include mq(lg) {
            padding: px2Rem(20) px2Rem(15);
            font-size: px2Rem(16);
        }

        &--sp-block {
            @include mq {
                display: none;
            }
        }

        &--current {
            color: $color-main;
        }
    }

}



/* ===========================================
 * フッター
 * ======================================== */
.footer {
    background: $color-main;
    color: $color-contrast;

    &__container {
        margin-inline: auto;

        @include mq {
            width: vwt($pc-content-width);
            padding: vwt(40) vwt($pc-content-padding);
        }

        @include mq(lg) {
            width: px2Rem($pc-content-width);
            padding: px2Rem(40) px2Rem($pc-content-padding);
        }
    }
}

.footer-menu {

    display: flex;
    justify-content: center;

    @include mq {
        font-size: vwt(14);
    }

    @include mq(lg) {
        font-size: px2Rem(14);
    }

    &__item {
        &--line {
            border-right: 1px solid $color-contrast;
        }

        @include mq {
            padding: vwt(5) vwt(10);
        }

        @include mq(lg) {
            padding: px2Rem(5) px2Rem(10);


        }
    }
}

/* ===========================================
 * メインビジュアル
 * ======================================== */
.mainvisual {
    margin-top: vw(72);

    @include mq {
        margin-top: vwt(151);
    }

    @include mq(lg) {
        margin-top: px2Rem(151);
    }

    &__container {
        @include sp-container();

        @include mq {
            max-width: vwt($pc-content-width);
            padding: 0 vwt($pc-content-padding);
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
            padding: 0 px2Rem($pc-content-padding);
        }
    }

    &__box {
        @include mq {
            display: flex;
            justify-content: space-between;
            margin: 0 vwt(33) 0 vwt(34);
        }

        @include mq(lg) {
            margin: 0 px2Rem(33) 0 px2Rem(34);
        }
    }

    &__title {
        font-size: vw(28);
        font-weight: 600;

        @include mq {
            font-size: vwt(40);
        }

        @include mq(lg) {
            font-size: px2Rem(40);
        }
    }

    &__text-area {
        font-size: vw(15);
        margin-top: vw(15);
        line-break: anywhere;

        @include mq {
            font-size: vwt(15);
            width: vwt(530);
            margin-top: vwt(11);
        }

        @include mq(lg) {
            font-size: px2Rem(15);
            width: px2Rem(530);
            margin-top: px2Rem(11);
        }

    }

    &__image {
        display: block;
        margin-top: vw(26);

        @include mq {
            margin-top: vwt(58);
        }

        @include mq(lg) {
            margin-top: px2Rem(58);

        }
    }
}

/* ===========================================
 * レイアウト
 * ======================================== */
/** 私たちについて **/
.about {
    color: $color-second;

    &__container {
        padding-top: vw(53);

        @include mq {
            width: vwt(987);
            padding: vwt(58) vwt($pc-content-padding) vwt(64);
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem(987);
            padding: px2Rem(58) px2Rem($pc-content-padding) px2Rem(64);
        }
    }

    &__box {
        margin-top: vw(17);
        padding: vw(32) 0;
        background: url(/assets/image/about_us_sp.jpg)center center / cover no-repeat;

        @include mq {
            display: flex;
            background: none;
            padding: 0;
            margin-top: vwt(22);
            // align-items: center;
            // gap: vwt(155);
            justify-content: space-between;
        }

        @include mq(lg) {
            margin-top: px2Rem(22);
            // gap: px2Rem(155);
        }
    }

    &__body {
        background: rgba(255, 255, 255, 0.8);
        border-radius: vw(32);
        @include sp-container();
        padding: vw(14) vw(25) vw(19);

        @include mq {
            background: none;
            border-radius: 0;
            width: vwt(405);
            padding: 0;
            margin: 0;
        }

        @include mq(lg) {
            width: px2Rem(405);
        }
    }

    &__lead {
        font-weight: bold;
        font-size: vw(18);
        margin-bottom: vw(7);

        @include mq {
            font-size: vwt(20);
            margin-top: vwt(100);
            margin-bottom: vwt(25);
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin-top: px2Rem(100);
            margin-bottom: px2Rem(25);
        }
    }

    &__image {
        display: none;

        @include mq {
            display: block;
            width: vwt(390);
        }

        @include mq(lg) {
            width: px2Rem(390);
        }
    }

    &__text {
        font-size: vw(15);

        @include mq {
            font-size: vwt(15);
        }

        @include mq(lg) {
            font-size: px2Rem(15);
        }
    }
}

/** 3つの理由 **/
.features {
    background: $color-background;

    &__container {
        padding: vw(52) 0 vw(51);
        @include sp-container();

        @include mq {
            width: vwt($pc-content-width);
            padding: vwt(58) vwt($pc-content-padding) vwt(63);
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem($pc-content-width);
            padding: px2Rem(58) px2Rem($pc-content-padding) px2Rem(63);
        }
    }


    &__card-lists {
        margin-top: vw(16);

        @include mq {
            display: flex;
            flex-wrap: wrap;
            gap: vwt(30);
            margin-top: vwt(21);
        }

        @include mq(lg) {
            gap: px2Rem(30);
            margin-top: px2Rem(21);
        }

    }

    &__card {
        overflow: hidden;
        margin-bottom: vw(20);

        @include mq {
            width: vwt(369);
            border-radius: vwt(24);
            box-shadow: 0 vwt(2) vwt(10) rgba(0, 0, 0, 0.05);
            margin-bottom: 0;
        }

        @include mq(lg) {
            width: px2Rem(369);
            border-radius: px2Rem(24);
            box-shadow: 0 px2Rem(2) px2Rem(10) rgba(0, 0, 0, 0.05);

        }
    }

    &__card-body {
        background: $color-contrast;
        padding: vw(12) vw(16) vw(13);

        @include mq {
            padding: vwt(12) vwt(21) vwt(15);
        }

        @include mq(lg) {
            padding: px2Rem(12) px2Rem(21) px2Rem(15);
        }
    }

    &__card-text {
        font-size: vw(18);
        color: $color-second;
        font-weight: bold;

        @include mq {
            font-size: vwt(19);

        }

        @include mq(lg) {
            font-size: px2Rem(19);

        }

    }
}

/** 製品・サービス紹介 **/

.products {

    &__container {


        @include mq {
            width: vwt(1132);
            padding: vwt(62) vwt($pc-content-padding) vwt(63);
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem(1132);
            padding: px2Rem(62) px2Rem($pc-content-padding) px2Rem(63);
        }
    }

    &__button-lists {
        display: flex;
        flex-wrap: wrap;

        @include mq {
            gap: vwt(50);
            margin-top: vwt(23);
        }

        @include mq(lg) {
            gap: px2Rem(50);
            margin-top: px2Rem(23);

        }

        &--3 {
            @include mq {
                margin-top: vwt(40);

            }

            @include mq(lg) {
                margin-top: px2Rem(40);


            }
        }
    }

    &__button {
        @include mq {
            width: vwt(525);

        }

        @include mq(lg) {
            width: px2Rem(525);
        }

        &--3 {
            @include mq {
                width: vwt(333);

            }

            @include mq(lg) {
                width: px2Rem(333);
            }
        }
    }
}