@charset "utf-8";
@use "./settings/" as *;
@use "sass:math";

/* ===========================================
 * コンポーネント
 * ======================================== */
.title {
    font-size: vw(20);
    font-weight: bold;
    text-align: center;

    @include mq {
        font-size: vwt(28);
    }

    @include mq(lg) {
        font-size: px2Rem(28);
    }

    &__sub {
        font-size: vw(16);
        font-family: "Montserrat", serif;
        font-weight: 600;
        color: $color-main;
        display: block;
        line-height: 1.14;

        @include mq {
            font-size: vwt(20);
            margin-bottom: vwt(1);
            line-height: 1.4;

        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin-bottom: px2Rem(1);

        }
    }
}

.second-title {
    font-size: vw(22);
    font-weight: bold;
    position: relative;
    padding-bottom: vw(7);

    @include mq {
        font-size: vwt(28);
        padding-bottom: vwt(19);
    }

    @include mq(lg) {
        font-size: px2Rem(28);
        padding-bottom: px2Rem(19);
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(to right, #168352 13.8%, #ddd 0%);
        height: vw(3);

        @include mq {
            height: vwt(5);
            background: linear-gradient(to right, #168352 12.6%, #ddd 0%);
        }

        @include mq(lg) {
            height: px2Rem(5);
        }
    }


}

.third-title {
    font-size: vw(20);
    font-weight: bold;
    padding-left: vw(19);
    margin: vw(20) 0 vw(17) 0;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: vw(2);
        height: vw(30);
        background: $color-main;
        top: vw(4);
        left: 0;

        @include mq {
            width: vwt(3);
            height: vwt(39);
            top: vwt(2);
            left: 0;
        }

        @include mq(lg) {
            width: px2Rem(3);
            height: px2Rem(39);
            top: px2Rem(2);
        }
    }

    @include mq {
        font-size: vwt(24);
        padding-left: vwt(19);
        margin: vwt(31) auto vwt(23) vwt(30);
    }

    @include mq(lg) {
        font-size: px2Rem(24);
        padding-left: px2Rem(19);
        margin: px2Rem(31) auto px2Rem(23) px2Rem(30);
    }

}

.text {
    &__break {
        display: inline-block;

        &--sp-inline,
        &--pc-inline {
            display: inline;
        }
    }
}

.img-button {
    display: block;
    background: $color-main;
    color: $color-contrast;
    font-size: vw(18);
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: vw(24);
    padding: vw(20) vw(24);

    @include mq {
        border-radius: vwt(24);
        font-size: vwt(24);
        padding: vwt(24) vwt(32);

    }

    @include mq(lg) {
        border-radius: px2Rem(24);
        font-size: px2Rem(24);
        padding: px2Rem(24) px2Rem(32);
    }

    &:hover {
        opacity: 1;
        background: #dffaec;

    }

    &--3 {
        @include mq {
            padding: vwt(19) vwt(25) vwt(21);
        }

        @include mq(lg) {
            padding: px2Rem(19) px2Rem(25) px2Rem(21);
        }
    }

    &__thumb {
        flex-shrink: 0;
        width: vw(100);
        margin-right: vw(17);

        @include mq {
            width: vwt(133);
            margin-right: vwt(29);
        }

        @include mq(lg) {
            width: px2Rem(133);
            margin-right: px2Rem(29);
        }

        &--3 {
            @include mq {
                width: vwt(110);
                margin-right: vwt(19);
            }

            @include mq(lg) {
                width: px2Rem(110);
                margin-right: px2Rem(19);
            }
        }
    }

    &__title {
        .img-button:hover & {
            color: $color-main;
        }

        &--3 {
            @include mq {
                font-size: vwt(20);
            }

            @include mq(lg) {
                font-size: px2Rem(20);
            }
        }
    }
}

.news-list {
    border-top: 1px solid $color-line;

    &__date {
        flex-shrink: 0;
        font-size: vw(15);
        font-weight: 400;
        padding: vw(15) 0 vw(9);

        @include mq {
            font-size: vwt(14);
            padding: 0;
        }

        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }

    &__time {
        display: inline-block;
        width: vw(89);

        @include mq {
            width: vwt(86);
        }

        @include mq(lg) {
            width: px2Rem(86);
        }
    }

    &__data {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $color-line;

        @include mq {
            flex-direction: row;
            align-items: center;
        }
    }

    &__link {
        color: $color-pale;
        font-weight: bold;
        display: block;
        font-size: vw(15);
        margin-left: vw(1);
        padding-bottom: vw(10);
        line-height: 1.72;

        @include mq {
            display: inline-block;
            font-size: vwt(15);
            padding: 0;
            margin: vwt(17) 0 vwt(17) vwt(24);

        }

        @include mq(lg) {
            font-size: px2Rem(15);
            margin: px2Rem(17) 0 px2Rem(17) px2Rem(24);

        }
    }


}

.label {
    background: #473221;
    color: $color-contrast;
    text-align: center;
    line-height: 1.1;
    font-size: vw(13);
    border-radius: vw(4);
    padding: vw(6);
    height: vw(28);
    display: inline-block;
    min-width: vw(134);
    vertical-align: middle;

    @include mq {
        min-width: auto;
        border-radius: vwt(4);
        font-size: vwt(13);
        padding: vwt(7);
        width: vwt(134);
        height: vwt(28);
    }

    @include mq(lg) {
        border-radius: px2Rem(4);
        font-size: px2Rem(13);
        padding: px2Rem(7);
        width: px2Rem(134);
        height: px2Rem(28);
    }
}

.button {
    display: inline-block;
    border-radius: 9999px;
    color: $color-contrast;
    text-align: center;
    font-weight: bold;

    &:hover {
        opacity: 1;
    }
}

.page-header {
    margin-top: vw(83);

    @include mq {
        margin-top: vwt(154);
        padding: 0 vwt($pc-content-padding);
    }

    @include mq(lg) {
        margin-top: px2Rem(154);
        padding: 0 px2Rem($pc-content-padding);
    }

    &__container {
        @include sp-container();

        @include mq {
            max-width: vwt($pc-content-width);
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
        }
    }

    &__body {
        overflow: hidden;
        position: relative;

        @include mq {
            border-radius: vwt(24);
            border-bottom-left-radius: 0;
        }

        @include mq(lg) {
            border-radius: px2Rem(24);
            border-bottom-left-radius: 0;
        }
    }

    &__image {
        border-radius: vw(24);
        overflow: hidden;
        display: block;

        @include mq {
            border-radius: 0;
        }
    }

    &__box {
        background: $color-contrast;
        font-size: vw(30);
        font-weight: bold;
        margin-top: vw(18);

        @include mq {
            position: absolute;
            bottom: 0;
            margin-top: 0;
            padding: vwt(23) vwt(37) vwt(27) vwt(41);
            border-radius: 0 vwt(40) 0 0;
            font-size: vwt(36);
        }

        @include mq(lg) {
            padding: px2Rem(23) px2Rem(37) px2Rem(27) px2Rem(41);
            border-radius: 0 px2Rem(40) 0 0;
            font-size: px2Rem(36);
        }

        &--faq {
            @include mq {
                padding: vwt(23) vwt(36) vwt(27) vwt(39);
            }

            @include mq(lg) {
                padding: px2Rem(23) px2Rem(36) px2Rem(27) px2Rem(39);
            }
        }
    }
}

.breadcrumb {
    padding-top: vw(9);

    @include mq {
        padding: vwt(14) vwt($pc-content-padding);
    }

    @include mq(lg) {
        padding: px2Rem(14) px2Rem($pc-content-padding);
    }

    &__container {
        @include sp-container(361);

        @include mq {
            max-width: vwt(1202);
        }

        @include mq(lg) {
            max-width: px2Rem(1202);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }


    &__separator {
        width: vw(6);
        height: vw(12);
        margin: vw(12) vw(7) vw(8) vw(7);

        @include mq {
            width: vwt(6);
            height: vwt(12);
            margin: vwt(6) vwt(6) vwt(6) vwt(8);
            padding-top: vwt(3);
        }

        @include mq(lg) {
            width: px2Rem(6);
            height: px2Rem(12);
            margin: px2Rem(6) px2Rem(6) px2Rem(6) px2Rem(8);
            padding-top: px2Rem(3);
        }
    }

    &__link,
    &__text {
        font-size: vw(12);

        @include mq {
            font-size: vwt(12);
        }

        @include mq(lg) {
            font-size: px2Rem(12);
        }
    }
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    @include mq {
        width: vwt(740);
        margin-inline: auto;
    }

    @include mq(lg) {
        width: px2Rem(740);
    }

    &__row,
    &__header,
    &__data {
        display: block;
        text-align: left;

        @include mq {
            display: table-row;
        }
    }

    &__header,
    &__data {
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: vw(4) vw(15) vw(6) vw(19);

        @include mq {
            display: table-cell;
            padding: vwt(17) vwt(22);
        }

        @include mq(lg) {
            padding: px2Rem(17) px2Rem(22);
        }

    }

    &__header {
        background: #f5f5f5;

        @include mq {
            padding: vwt(17) vwt(18);
            width: vwt(200);
        }

        @include mq(lg) {
            padding: px2Rem(17) px2Rem(18);
            width: px2Rem(200);
        }
    }

}

.accordion {
    &__item {
        border: 1px solid #ccc;
        overflow: hidden;
        border-radius: vw(16);
        margin-bottom: vw(20);

        @include mq {
            border-radius: vwt(16);
            margin-bottom: vwt(25);
        }

        @include mq(lg) {
            border-radius: px2Rem(16);
            margin-bottom: px2Rem(25);
        }

        &--type1 {
            @include mq {
                margin-bottom: vwt(26);
            }

            @include mq(lg) {
                margin-bottom: px2Rem(26);
            }
        }
        &--expanded {
            margin-bottom: vw(24);

            @include mq {
                margin-bottom: vwt(24);
            }

            @include mq(lg) {
                margin-bottom: px2Rem(24);
            }

            &--type2 {

                @include mq {
                    margin-bottom: vwt(25);
                }

                @include mq(lg) {
                    margin-bottom: px2Rem(25);
                }
            }
        }
    }

    &__wrapper {
        @include mq {
            width: vwt(600);
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem(600);
        }
    }

    &__question {
        width: 100%;
        display: flex;
        padding: vw(23) vw(23) vw(17);
        font-weight: bold;
        cursor: pointer;
        transition: padding 0.3s ease;

        @include mq {
            padding: vwt(17) vwt(31) vwt(17) vwt(32);
        }

        @include mq(lg) {
            padding: px2Rem(17) px2Rem(31) px2Rem(17) px2Rem(32);
        }

        &--type1 {
            padding-bottom: vw(19);

            @include mq {
                padding-bottom: vwt(18);
            }

            @include mq(lg) {
                padding-bottom: px2Rem(18);
            }
        }

        .accordion__item--expanded & {
            padding: vw(23) vw(23) 0;

            @include mq {
                padding: vwt(17) vwt(31) vwt(17) vwt(32);
            }

            @include mq(lg) {
                padding: px2Rem(17) px2Rem(31) px2Rem(17) px2Rem(32);
            }
        }
    }

    &__q-icon {
        color: $color-main;
        flex-shrink: 0;
        line-height: 1;
        font-size: vw(24);
        font-family: "Montserrat", serif;
        font-weight: bold;
        margin-right: vw(16);

        @include mq {
            font-size: vwt(24);
            margin: vwt(3) vwt(14) 0 0;
        }

        @include mq(lg) {
            font-size: px2Rem(24);
            margin: px2Rem(3) px2Rem(14) 0 0;
        }
    }

    &__content {
        display: block;
        flex: 1;

        @include mq {
            font-size: vwt(24);
        }

        @include mq(lg) {
            font-size: px2Rem(24);
        }
    }

    &__categories {
        line-height: 1;
        display: block;

        @include mq {
            height: vwt(24);
        }

        @include mq(lg) {
            height: px2Rem(24);
        }
    }

    &__category {
        color: $color-main;
        border: 1px solid $color-main;
        font-weight: 400;
        font-size: vw(11);
        text-align: center;
        padding: vw(5) vw(10) vw(6);
        border-radius: vw(3);
        margin-right: vw(4);
        min-width: vw(100);
        display: inline-block;

        @include mq {
            margin-right: vwt(2);
            min-width: vwt(100);
            font-size: vwt(11);
            padding: vwt(5) vwt(11) vwt(6);
            border-radius: vwt(4);
        }

        @include mq(lg) {
            min-width: px2Rem(100);
            margin-right: px2Rem(2);
            font-size: px2Rem(11);
            padding: px2Rem(5) px2Rem(11) px2Rem(6);
            border-radius: px2Rem(4);
        }
    }

    &__q-text {
        display: block;
        font-size: vw(16);
        margin-right: vw(12);
        line-break: anywhere;

        @include mq {
            font-size: vwt(18);
            margin: vwt(15) 0 0 0;
            line-height: 1.6;
        }

        @include mq(lg) {
            font-size: px2Rem(18);
            margin: px2Rem(15) 0 0 0;
        }
    }

    &__answer {
        display: flex;
        padding: vw(2) vw(22) vw(17) vw(26);
        line-break: anywhere;

        @include mq {
            padding: vwt(1) vwt(32) vwt(18) vwt(32);
        }

        @include mq(lg) {
            padding: px2Rem(1) px2Rem(32) px2Rem(18) px2Rem(32);
        }

        &--type1 {
            padding-left: vw(24);

            @include mq {
                padding-left: vwt(32);
            }

            @include mq(lg) {
                padding-left: px2Rem(32);
            }
        }

        &--type2 {
            padding-top: 0;
            padding-bottom: vw(18);

            @include mq {
                padding-top: vwt(1);
                padding-bottom: vwt(18);
            }

            @include mq(lg) {
                padding-top: px2Rem(1);
                padding-bottom: px2Rem(18);
            }
        }

        &--type3 {
            padding-bottom: vw(18);

            @include mq {
                padding-bottom: vwt(18);
            }

            @include mq(lg) {
                padding-bottom: px2Rem(18);
            }
        }
    }

    &__a-icon {
        flex-shrink: 0;
        font-size: vw(16);
        font-weight: bold;
        line-height: 1;
        vertical-align: middle;
        margin-top: vw(6);
        font-family: "EB Garamond", serif;
        font-weight: 500;

        @include mq {
            font-size: vwt(18);
            margin-top: vwt(5);
        }

        @include mq(lg) {
            font-size: px2Rem(18);
            margin-top: px2Rem(5);
        }
    }

    &__panel {
        background: $color-contrast;
        display: none;
        margin-top: vw(-17);
        transition: margin 0.3s ease;

        .accordion__item--expanded & {
            margin-top: 0;
        }

        @include mq {
            margin-top: 0;
        }
    }

    &__action {
        flex-shrink: 0;
        position: relative;
        display: block;
        width: vw(18);
        height: vw(26);
        margin: 0 vw(1) 0 auto;

        @include mq {
            width: vwt(20);
            height: vwt(20);
            top: vwt(9);
            margin: 0;
        }

        @include mq(lg) {
            width: px2Rem(20);
            height: px2Rem(20);
            top: px2Rem(9);
        }

        &::before,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            content: "";
            display: block;
            width: 100%;
            height: 0;
            border-top: 2px solid;
            transition: all .3s;

            @include mq {
                width: vwt(20);
                height: vwt(3);
            }

            @include mq(lg) {
                width: px2Rem(20);
                height: px2Rem(3);
            }
        }

        &::after {
            transform: rotate(90deg);

            .accordion__item--expanded & {
                transform: rotate(0);
            }
        }
    }
}

/* ===========================================
 * ヘッダー
 * ======================================== */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: vw(63);
    background: $color-contrast;

    @include mq {
        height: vwt(114);
    }

    @include mq(lg) {
        height: px2Rem(114);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mq {
            max-width: vwt($pc-container-width);
            margin-inline: auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1200);
        }
    }

    &__logo {
        flex-shrink: 0;
        padding: vw(16);
        width: vw(229);
        display: block;

        @include mq {
            width: vwt(295);
            padding: vwt(16);
        }

        @include mq(lg) {
            width: px2Rem(295);
            padding: px2Rem(16);
        }
    }
}

/* ===========================================
 * ハンバーガー
 * ======================================== */
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(56);
    height: 100%;
    border: 0;
    cursor: pointer;

    @include mq {
        display: none;
    }

    &__line {
        position: relative;
        width: vw(24);
        height: vw(2);
        background: $color-normal;

        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: vw(24);
            height: vw(2);
            background: $color-normal;
            transition: all 0.3s;
        }

        &::before {
            top: vw(-8);
        }

        &::after {
            bottom: vw(-8);
        }

        /*閉じる*/
        &--expanded {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

/* ===========================================
 * グローバルナビゲーション
 * ======================================== */
.gnav {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: vw(63);
    width: vw(358);
    background: $color-main;
    overflow-y: auto;
    color: $color-contrast;
    font-weight: bold;
    text-align: center;
    border-radius: vw(24);

    @include mq {
        align-items: center;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        color: $color-normal;
        background: none;
        transform: translateX(0%);
    }

    &__list {
        line-height: 1;
        padding: vw(22) vw(20) vw(17);

        @include mq {
            display: flex;
            padding: 0;
        }
    }

    &__item {
        @include mq {
            margin-left: vwt(9);
        }

        @include mq(lg) {
            margin-left: px2Rem(9);
        }
    }

    &__link {
        display: block;
        font-size: vw(18);
        font-weight: bold;
        padding: vw(16);
        margin-bottom: vw(7);

        @include mq {
            padding: 0;
            margin: vwt(20) vwt(15);
            font-size: vwt(16);
        }

        @include mq(lg) {
            margin: px2Rem(20) px2Rem(15);
            font-size: px2Rem(16);
        }

        &--sp-block {
            @include mq {
                display: none;
            }
        }

        &--current {
            @include mq {
                color: $color-main;
            }
        }
    }
}

/* ===========================================
 * フッター
 * ======================================== */
.footer {
    background: $color-main;
    color: $color-contrast;
    padding: vw(21) vw(23) vw(24);

    @include mq {
        padding: vwt(36) vwt($pc-content-padding);
    }

    @include mq(lg) {
        padding: px2Rem(36) px2Rem($pc-content-padding);
    }

    &__container {
        margin-inline: auto;
    }
}

.footer-menu {
    font-size: vw(13);
    display: flex;
    justify-content: center;

    @include mq {
        font-size: vwt(14);
        padding-left: vwt(11);
    }

    @include mq(lg) {
        font-size: px2Rem(14);
        padding-left:  px2Rem(11);

    }

    &__item-line {
        position: relative;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 1px;
            background: $color-contrast;
            height: vw(20);
            right: 0;
            top: vw(3);
            z-index: 100;

            @include mq {
                height: 95%;
                top: 4%;
            }
        }
    }

    &__item {
        padding: vw(5) vw(16);

        @include mq {
            padding: 0;
            margin: vwt(5) vwt(20);
        }

        @include mq(lg) {
            margin: px2Rem(5) px2Rem(20);
        }
    }
}

/* ===========================================
 * メインビジュアル
 * ======================================== */
.mainvisual {
    margin-top: vw(72);

    @include mq {
        margin-top: vwt(151);
        padding: 0 vwt($pc-content-padding);
    }

    @include mq(lg) {
        margin-top: px2Rem(151);
        padding: 0 px2Rem($pc-content-padding);
    }

    &__container {
        @include sp-container();

        @include mq {
            max-width: vwt($pc-container-width);
        }

        @include mq(lg) {
            max-width: px2Rem($pc-container-width);
        }
    }

    &__box {
        @include mq {
            display: flex;
            justify-content: space-between;
            margin: 0 vwt(33) 0 vwt(34);
        }

        @include mq(lg) {
            margin: 0 px2Rem(33) 0 px2Rem(34);
        }
    }

    &__title {
        font-size: vw(28);
        font-weight: 600;

        @include mq {
            font-size: vwt(40);
        }

        @include mq(lg) {
            font-size: px2Rem(40);
        }
    }

    &__text-area {
        font-size: vw(15);
        margin-top: vw(15);
        line-break: anywhere;

        @include mq {
            font-size: vwt(15);
            width: vwt(530);
            margin-top: vwt(11);
        }

        @include mq(lg) {
            font-size: px2Rem(15);
            width: px2Rem(530);
            margin-top: px2Rem(11);
        }

    }

    &__image {
        display: block;
        margin-top: vw(26);

        @include mq {
            margin-top: vwt(58);
        }

        @include mq(lg) {
            margin-top: px2Rem(58);
        }
    }
}

/* ===========================================
 * レイアウト
 * ======================================== */
/** 私たちについて **/
.about {
    color: $color-second;

    &__container {
        padding-top: vw(53);

        @include mq {
            width: vwt(1000);
            padding: vwt(58) vwt($pc-content-padding) vwt(64);
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem(1000);
            padding: px2Rem(58) px2Rem($pc-content-padding) px2Rem(64);
        }
    }

    &__box {
        margin-top: vw(17);
        padding: vw(32) 0;
        background: url(/assets/image/about_us_sp.jpg)center center / cover no-repeat;

        @include mq {
            display: flex;
            background: none;
            padding: 0;
            margin-top: vwt(22);
            justify-content: space-between;
        }

        @include mq(lg) {
            margin-top: px2Rem(22);
        }
    }

    &__body {
        background: rgba(255, 255, 255, 0.8);
        border-radius: vw(32);
        @include sp-container();
        padding: vw(14) vw(25) vw(19);

        @include mq {
            background: none;
            border-radius: 0;
            width: vwt(405);
            padding: 0;
            margin: 0;
        }

        @include mq(lg) {
            width: px2Rem(405);
        }
    }

    &__lead {
        font-weight: bold;
        font-size: vw(18);
        margin-bottom: vw(7);

        @include mq {
            font-size: vwt(20);
            margin-top: vwt(100);
            margin-bottom: vwt(25);
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin-top: px2Rem(100);
            margin-bottom: px2Rem(25);
        }
    }

    &__image {
        display: none;

        @include mq {
            display: block;
            width: vwt(390);
            margin-right: vwt(14);
        }

        @include mq(lg) {
            width: px2Rem(390);
            margin-right: px2Rem(14);
        }
    }

    &__text {
        font-size: vw(15);

        @include mq {
            font-size: vwt(15);
        }

        @include mq(lg) {
            font-size: px2Rem(15);
        }
    }
}

/** 3つの理由 **/
.features {
    background: $color-background;
    padding: vw(52) 0 vw(36);

    @include mq {
        padding: vwt(57) vwt($pc-content-padding) vwt(63);
    }

    @include mq(lg) {
        padding: px2Rem(57) px2Rem($pc-content-padding) px2Rem(63);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: 100%;
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem($pc-container-width);
        }
    }


    &__card-lists {
        margin-top: vw(16);

        @include mq {
            display: flex;
            flex-wrap: wrap;
            gap: vwt(30);
            margin-top: vwt(22);
            justify-content: space-between;
        }

        @include mq(lg) {
            gap: px2Rem(30);
            margin-top: px2Rem(22);
        }

    }

    &__card {
        overflow: hidden;
        margin-bottom: vw(20);
        border-radius: vw(24);
        box-shadow: 0 vw(2) vw(10) rgba(0, 0, 0, 0.05);

        @include mq {
            width: 31%;
            border-radius: vwt(24);
            box-shadow: 0 vwt(2) vwt(10) rgba(0, 0, 0, 0.05);
            margin-bottom: 0;
        }

        @include mq(lg) {
            width: px2Rem(369);
            border-radius: px2Rem(24);
            box-shadow: 0 px2Rem(2) px2Rem(10) rgba(0, 0, 0, 0.05);
        }
    }

    &__card-body {
        background: $color-contrast;
        padding: vw(12) vw(16) vw(13);

        @include mq {
            padding: vwt(11) vwt(21) vwt(15);
        }

        @include mq(lg) {
            padding: px2Rem(11) px2Rem(21) px2Rem(15);
        }
    }

    &__card-text {
        font-size: vw(18);
        color: $color-second;
        font-weight: bold;

        @include mq {
            font-size: vwt(19);
        }

        @include mq(lg) {
            font-size: px2Rem(19);
        }

    }
}

/** 製品・サービス紹介 **/
.products {
    padding: vw(55) 0 vw(37);

    @include mq {
        padding: vwt(62) vwt($pc-content-padding) vwt(63);
    }

    @include mq(lg) {
        padding: px2Rem(62) px2Rem($pc-content-padding) px2Rem(63);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt(1100);
        }

        @include mq(lg) {
            width: px2Rem(1100);
        }
    }
    &__button-lists {
        display: flex;
        flex-wrap: wrap;
        margin-top: vw(16);

        @include mq {
            margin-top: vwt(23);
            gap:vwt(40) vwt(50);
        }

        @include mq(lg) {
            gap:px2Rem(40) px2Rem(50);
            margin-top: px2Rem(23);
        }
    }

    &__button {
        margin-bottom: vw(20);

        @include mq {
            width: vwt(525);
            margin-bottom: 0;
        }

        @include mq(lg) {
            width: px2Rem(525);
        }

        &--3 {
            @include mq {
                width: vwt(333);
            }

            @include mq(lg) {
                width: px2Rem(333);
            }
        }
    }
}

/** 事例紹介 **/
.case {
    background: $color-background;
    padding: vw(51) 0 vw(23);

    @include mq {
        padding: vwt(57) vwt($pc-content-padding) vwt(60);
    }

    @include mq(lg) {
        padding: px2Rem(57) px2Rem($pc-content-padding) px2Rem(60);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: 100%;
        }

        @include mq(lg) {
            width: px2Rem($pc-container-width);
        }
    }

    &__card-lists {
        margin-top: vw(17);

        @include mq {
            margin-top: vwt(22);
            display: flex;
            flex-wrap: wrap;
            gap: vwt(30);
            justify-content: space-between;
        }

        @include mq(lg) {
            margin-top: px2Rem(22);
            gap: px2Rem(30);
        }

    }

    &__card {
        margin-bottom: vw(27);

        @include mq {
            width: 31.1%;
            margin-bottom: 0;
        }

        @include mq(lg) {
            width: px2Rem(369);
        }
    }

    &__card-link {
        &:hover {
            opacity: 0.5;
        }
    }

    &__card-image {
        overflow: hidden;
        display: block;
        border-radius: vw(24);

        @include mq {
            border-radius: vwt(24);
        }

        @include mq(lg) {
            border-radius: px2Rem(24);
        }
    }

    &__card-text {
        color: $color-pale;
        font-size: vw(18);
        font-weight: bold;
        margin-top: vw(7);
        margin-left: vw(2);

        @include mq {
            margin-top: vwt(8);
            margin-left: 0;
            font-size: vwt(19);
        }

        @include mq(lg) {
            margin-top: px2Rem(8);
            font-size: px2Rem(19);
        }
    }
}

/** お知らせ **/
.news {
    padding: vw(52) 0 vw(62);

    @include mq {
        padding: vwt(57) vwt($pc-content-padding) vwt(69);
    }

    @include mq(lg) {
        padding: px2Rem(57) px2Rem($pc-content-padding) px2Rem(69);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt(900);
        }

        @include mq(lg) {
            width: px2Rem(900);
        }
    }

    &__lists {
        margin-top: vw(16);

        @include mq {
            margin-top: vwt(22);
        }

        @include mq(lg) {
            margin-top: px2Rem(22);
        }
    }

    &__button-wrapper {
        text-align: center;
        margin-top: vw(24);
        width: vw(300);
        margin-inline: auto;

        @include mq {
            width: auto;
            margin-top: vwt(33);
        }

        @include mq(lg) {
            margin-top: px2Rem(33);
        }
    }

    &__button {
        background: $color-pale;
        padding: vw(19);
        width: 100%;
        letter-spacing: 0.13em;
        box-shadow: 0 vw(5) 0 #066655;

        @include mq {
            width: auto;
            min-width: vwt(300);
            font-size: vwt(18);
            padding: vwt(17);
            box-shadow: 0 vwt(5) 0 #066655;
            letter-spacing: normal;
        }

        @include mq(lg) {
            min-width: px2Rem(300);
            font-size: px2Rem(18);
            padding: px2Rem(17);
            box-shadow: 0 px2Rem(5) 0 #066655;
        }

        &:hover {
            @include mq {
                box-shadow: 0 vwt(2) 0 #066655;
                transform: translateY(5px);
            }

            @include mq(lg) {
                box-shadow: 0 px2Rem(2) 0 #066655;
            }
        }
    }
}

/** ギャラリー **/
.gallery {
    padding: vw(22) 0 vw(33);

    @include mq {
        padding: vwt(32) vwt($pc-content-padding);
    }

    @include mq(lg) {
        padding: px2Rem(32) px2Rem($pc-content-padding);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt($pc-subpage-content-width);
        }

        @include mq(lg) {
            width: px2Rem($pc-subpage-content-width);
        }
    }

    &__slider {
        margin-top: vw(24);

        @include mq {
            margin-top: vwt(32);
        }

        @include mq(lg) {
            margin-top: px2Rem(32);
        }
    }

    &__image {
        overflow: hidden;
        display: block;
        border-radius: vw(24);

        @include mq {
            border-radius: vwt(24);
        }

        @include mq(lg) {
            border-radius: px2Rem(24);
        }
    }

    &__pagination {
        &.swiper-pagination {
            bottom: vw(3);

            @include mq {
                bottom: vwt(15);
            }

            @include mq(lg) {
                bottom: px2Rem(15);
            }
        }
    }

    .swiper-pagination-bullet {
        background: #eee;
        opacity: 1;
        margin: 0 vw(3);

        @include mq {
            margin: 0 vwt(4);
        }

        @include mq(lg) {
            margin: 0 px2Rem(4);
        }
    }

    .swiper-pagination-bullet-active {
        background: $color-main;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 vw(3);

    @include mq {
        margin: 0 vwt(3);
    }

    @include mq(lg) {
        margin: 0 px2Rem(3);
    }
}

/** 特長 **/
.advantage {
    padding-top: vw(21);

    @include mq {
        padding: vwt(27) vwt($pc-content-padding) 0;
    }

    @include mq(lg) {
        padding: px2Rem(27) px2Rem($pc-content-padding) 0;
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt($pc-subpage-content-width);
        }

        @include mq(lg) {
            width: px2Rem($pc-subpage-content-width);
        }
    }

    &__card-lists {
        margin-top: vw(23);

        @include mq {
            display: flex;
            flex-wrap: wrap;
            gap: vwt(31);
            margin-top: vwt(32);
        }

        @include mq(lg) {
            gap: px2Rem(31);
            margin-top: px2Rem(32);
        }
    }

    &__card {
        margin-bottom: vw(35);

        @include mq {
            width: vwt(246);
            margin-bottom: 0;
        }

        @include mq(lg) {
            width: px2Rem(246);
        }
    }

    &__card-image {
        overflow: hidden;
        display: block;
        border-radius: vw(16);

        @include mq {
            border-radius: vwt(16);
        }

        @include mq(lg) {
            border-radius: px2Rem(16);
        }
    }

    &__card-text {
        font-size: vw(18);
        font-weight: bold;
        margin-top: vw(7);
        line-break: anywhere;
        padding-right: vw(2);

        @include mq {
            font-size: vwt(18);
            margin-top: vwt(7);
            padding-right: 0;
        }

        @include mq(lg) {
            font-size: px2Rem(18);
            margin-top: px2Rem(7);
        }
    }
}

/** 小売価格 **/
.price {
    padding: vw(14) 0;

    @include mq {
        padding: vwt(52) vwt($pc-content-padding) vwt(24);
    }

    @include mq(lg) {
        padding: px2Rem(52) px2Rem($pc-content-padding) px2Rem(24);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt($pc-subpage-content-width);
        }

        @include mq(lg) {
            width: px2Rem($pc-subpage-content-width);
        }
    }

    &__text {
        font-weight: bold;
    }

    &__attention {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: vw(32);
        margin-top: vw(8);
        display: inline-block;
        color: $color-main;

        @include mq {
            margin-top: vwt(17);
            margin-right: vwt(1);
            font-size: vwt(32);
        }

        @include mq(lg) {
            margin-top: px2Rem(17);
            margin-right: px2Rem(1);
            font-size: px2Rem(32);
        }
    }
}

/** スペック **/
.specs {
    padding: vw(30) 0 vw(63);

    @include mq {
        padding: vwt(24) vwt($pc-content-padding) vwt(70);
    }

    @include mq(lg) {
        padding: px2Rem(24) px2Rem($pc-content-padding) px2Rem(70);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt($pc-subpage-content-width);
        }

        @include mq(lg) {
            width: px2Rem($pc-subpage-content-width);
        }
    }
}

/** お問い合わせ **/
.contact {
    background: url(/assets/image/contact_sp.jpg) center center / cover no-repeat;

    @include mq {
        background: url(/assets/image/contact_pc.jpg) center center / cover no-repeat;
    }

    &__button-wrapper {
        text-align: center;
        padding: vw(140) vw(16);

        @include mq {
            padding: vwt(185) vwt(16);
        }

        @include mq(lg) {
            padding: px2Rem(185) px2Rem(16);
        }
    }

    &__button {
        width: vw(358);
        max-width: 100%;
        font-size: vw(20);
        padding: vw(21);
        border: vw(2) solid $color-contrast;
        @include mq {
            max-width: fit-content;
            min-width: vwt(358);
            font-size: vwt(20);
            padding: vwt(20);
            border: vwt(2) solid $color-contrast;
        }

        @include mq(lg) {
            min-width: px2Rem(358);
            font-size: px2Rem(20);
            padding: px2Rem(20);
            border: px2Rem(2) solid $color-contrast;
        }

        &:hover {
            @include mq {
                color: $color-main;
                background: $color-contrast;
            }

            @include mq(lg) {}
        }
    }
}

/** よくあるご質問 **/
.faq {
    padding: vw(31) 0 vw(146);

    @include mq {
        padding: vwt(43) vwt($pc-content-padding) vwt(48);
    }

    @include mq(lg) {
        padding: px2Rem(43) px2Rem($pc-content-padding) px2Rem(48);
    }

    &__container {
        @include sp-container();

        @include mq {
            width: vwt($pc-subpage-content-width);
        }

        @include mq(lg) {
            width: px2Rem($pc-subpage-content-width);
        }
    }
}